<html>
<head>
</head>
<body>
<h1>Create a game</h1>
<form action="{{url_for('create_game')}}" method="POST">
<table>
    <tr><td>Player 1</td><td><input name="player_1_name" type="text"/></td></tr>
    <tr><td>Player 2</td><td><input name="player_2_name" type="text"/></td></tr>
    <tr><td>Player 3</td><td><input name="player_3_name" type="text"/></td></tr>
    <tr><td>Player 4</td><td><input name="player_4_name" type="text"/></td></tr>
    <tr><td>Player 5</td><td><input name="player_5_name" type="text"/></td></tr>
    <tr><td>Player 6</td><td><input name="player_6_name" type="text"/></td></tr>
</table>
<input type="submit" value="Start"/>
</form>
</body>
</html>