<div class="company_column">
    <div class="company_card">
        <table>
            <tr>
                <td><img src={{ game.companies[c].token_img }} width="32px" height="32px" /></td>
                <td colspan=4>{{ game.companies[c].name }}</td>
            </tr>
            <tr>
                <td colspan=5 style="background-color: {{game.companies[c].color}}" ;></td>
            </tr>
            {% if game.companies[c].started %}
            {% if game.companies[c].public %}
            <tr>
                <td></td>
                <td colspan=2>Market price {{ game.companies[c].current_price() }}</td>
                <td colspan=2>IPO price: {{ game.companies[c].ipo }}</td>
                <td></td>
            </tr>
            {% endif %}
            <tr>
                <td> President: </td>
                <td colspan=4> {{ game.companies[c].president.name }} </td>
            </tr>
            <tr>
                <td> Monsters: </td>
                <td colspan=4> {{ game.companies[c].monster_display() }}</td>
            </tr>
            {% if game.companies[c].public %}
            <td> Stock holdings: </td>
            <td colspan=4>
                <ul>
                    {% for p in game.companies[c].players_holdings() %}
                    <li> {{p[0].name}}: {{p[1]}} shares </li>
                    {% endfor %}
                    {% if game.companies[c].shares_in_market > 0 %}
                    <li> {{ game.companies[c].shares_in_market }} shares in market </li>
                    {% endif %}
                </ul>
            </td>
            {% endif %}
            </tr>
            {% endif %}
        </table>
        {% if game.sr_show_buy_president(game.companies[c]) %}
        <form action={{ url_for("sr_buy_president", game_id=game_id, company_id=c) }} method='POST'>
            <input type="submit" value="Buy president at" />
            <select id="president_price" name="president_price">
                {% for ipo in game.market.ipos() %}
                {% if game.current_player.cash >= (ipo * 2) %}
                {% if ipo == game.market.ipos()[0] %}
                <option value={{ipo}} selected>{{ipo}}</option>
                {% else %}
                <option value={{ipo}}>{{ipo}}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
            </select>
        </form>
        {% endif %}
        {% if game.sr_show_buy_ipo(game.companies[c]) %}
        <form action={{ url_for("sr_buy_ipo", game_id=game_id, company_id=c) }} method='POST'>
            <input type="submit" value="Buy IPO Share" />
        </form>
        {% endif %}
        {% if game.sr_show_buy_market(game.companies[c]) %}
        <form action={{ url_for("sr_buy_market", game_id=game_id, company_id=c) }} method='POST'>
            <input type="submit" value="Buy Market Share" />
        </form>
        {% endif %}
        {% if game.sr_show_sell(game.companies[c]) %}
        <form action={{ url_for("sr_sell", game_id=game_id, company_id=c) }} method='POST'>
            <input type="submit" value="Sell" />
            <select id="qty" name="qty">
                {% for qty in game.companies[c].player_can_sell(game.current_player) %}
                {% if loop.index0 == 0  %}
                <option value={{qty}} selected>{{qty}}</option>
                {% else %}
                <option value={{qty}}>{{qty}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </form>
        shares
        {% endif %}
    </div>
</div>