<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link href={{url_for("static", filename="game_view.css")}} rel="stylesheet" type="text/css"/>
<nav>
  <h1>18Dracula Game {{ game_id }}</h1>
  <h2>Current player: {{ game.current_player.name }}</h2>
  <h3>{{ game.current_action_display }}</h2>
</nav>
<section class="content">
<div class="tabs">
<button class="tablinks" onclick="openTab(event, 'map_tab');">Map</button>
<button class="tablinks" onclick="openTab(event, 'market_tab');")>Market</button>
<button class="tablinks" onclick="openTab(event, 'company_tab');")>Fronts and Players</button>
<button class="tablinks" onclick="openTab(event, 'associates_tab');")>Associates</button>
</div>

{% if game.start_on() == 'map' %}
<div id="map_tab" class="tabcontent active">
{% else %}
<div id="map_tab" class="tabcontent">
{% endif %}
<object type="image/svg+xml" data={{url_for("map_image", game_id=game_id)}}></object>
</div>

<div id="market_tab" class="tabcontent">
<object type="image/svg+xml" data={{url_for("market", game_id=game_id)}}></object>
</div>

{% if game.start_on() == 'fronts' %}
<div id="company_tab" class="tabcontent active">
{% else %}
<div id="company_tab" class="tabcontent">
{% endif %}
{% if game.sr_show_pass() %}
Pass stock round
{% endif %}
{% if game.sr_show_done() %}
Done stock round
{% endif %}
<h2>Fronts</h2>
    <div class="company_row">
      {% for c in game.companies %}
      <div class="company_column"><div class="company_card">
        <table>
          <tr>
            <td><img src= {{ game.companies[c].token_img }} width="32px" height = "32px"/></td>
            <td colspan=4>{{ game.companies[c].display_name }}</td>
          </tr>
          <tr>
            <td colspan=5 style="background-color: {{game.companies[c].color}}" ;></td>
          </tr>
          {% if game.companies[c].ipo %}
          <tr>
            <td></td>
            <td colspan=2>Market price {{ game.companies[c].current_price() }}</td>
            <td colspan=2>IPO price: {{ game.companies[c].ipo }}</td>
          </tr>
          {% endif %}
        </table>
          {% if game.sr_show_buy_president(game.companies[c]) %}
          <form action={{ url_for("sr_buy_president", game_id=game_id, company_id=c) }} method='POST'>
            <input type="submit" value="Buy president at"/>
            <select id="president_price">
              {% for ipo in game.market.ipos() %}
              <option value={{ipo}}>{{ipo}}</option>
              {% endfor %}
            </select>
          </form>
          {% endif %}
          {% if game.sr_show_buy_ipo(game.companies[c]) %}
          Buy ipo @
          {% endif %}
          {% if game.sr_show_buy_market(game.companies[c]) %}
          Buy from market @
          {% endif %}
          {% if game.sr_show_sell(game.companies[c]) %}
          Sell to market @
          {% endif %}
      </div></div>
      {% endfor %}
    </div>

    <h2>Players</h2>
    <div class="company_row">
      {% for p in game.players %}
      <div class="company_column"><div class="company_card">
        <table>
          <tr>
            <td><b>{{p.name}}</b></td>
          </tr>
          <tr>
            <td>Cash: {{p.cash}}</td>
          </tr>
        </table>
      </div></div>
      {% endfor %}
    </div>
    <h2>Bank: {{ game.bank }}</h2>
  </div>

  {% if game.start_on() == 'associate' %}
  <div id="associates_tab" class="tabcontent active">
  {% else %}
  <div id="associates_tab" class="tabcontent">
  {% endif %}
  {% if game.game_turn_status.value == 0 or game.game_turn_status.value == 1 %}
  <H2>Uncommitted cash:</H2>
  <ul>
  {% for p in game.players %}
  <li>{{ p.name }}: {{ game.pa_get_uncommitted_cash(p.id) }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% for p in game.privates %}
    <div class="company_column"><div class="company_card private_card">
      <table>
        <tr>
          <td colspan=2><b>{{p.name}}</b></td>
        </tr>
        <tr>
          <td>Base cost: {{p.base_cost}}</td>
          <td>{% if p.revenue > 0 %}Revenue: {{p.revenue}} {% endif %}</td>
        </tr>
        <tr>
          <td colspan=2 class="description">{{p.description}}</td>
        </tr>
      </table>
      {% if p.owner is not none %}
        Owned by {{p.owner.name}}
      {% else %}
      <ul>
        {% for b in p.bids %}
        <li>{{b[0].name}} bid {{b[1]}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if game.pa_can_buy(p) %}
      <form action={{ url_for("pa_buy", game_id=game_id) }}><input type="submit" value="Buy"/></form>
      {% endif %}
      {% if game.pa_can_pass(p) %}
      <form action={{ url_for("pa_pass", game_id=game_id) }}><input type="submit" value="Pass"/></form>
      {% endif %}
      {% if game.pa_can_bid(p) %}
      <form action={{ url_for("pa_bid", game_id=game_id, private_id=p.id) }} method='POST'><input type="submit" value="Bid"/><input type="text" name="bid_amt" value={{ p.next_min_bid_amount(game) }} /></form>
      {% endif %}
    </div></div>
  {% endfor %}
  </div>
</section>

<script src={{url_for("static", filename="game_view.js")}}></script>