<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link href={{url_for("static", filename="game_view.css")}} rel="stylesheet" type="text/css"/>
<nav>
  <h1>18Dracula Game {{ game_id }} - {{ game.round_name() }} </h1>
  <h2>Current player: {{ game.current_player.name }}</h2>
  <h3>{{ game.important_status() }}</h2>
</nav>

<section class="content">
{% if error_message %}
<div class="error_message">
{{error_message}}
</div>
{% endif %}

{% if game.sr_show_pass() %}
<form action={{ url_for("sr_pass", game_id=game_id) }} method='POST'>
  <input type="submit" value="Pass"/>
</form>
{% endif %}
{% if game.sr_show_done() %}
<form action={{ url_for("sr_done", game_id=game_id) }} method='POST'>
  <input type="submit" value="Done"/>
</form>
{% endif %}
{% if game.or_show_pass() %}
<form action={{ url_for("or_pass", game_id=game_id) }} >
  <input type="submit" value="Pass"/>
</form>
{% endif %}

<div class="tabs">
<button class="tablinks" onclick="openTab(event, 'map_tab');">Map</button>
<button class="tablinks" onclick="openTab(event, 'market_tab');")>Market</button>
<button class="tablinks" onclick="openTab(event, 'company_tab');")>Fronts and Players</button>
<button class="tablinks" onclick="openTab(event, 'monsters_tab');")>Monsters</button>
<button class="tablinks" onclick="openTab(event, 'associates_tab');")>Associates</button>
</div>

{% if game.start_on() == 'map' %}
<div id="map_tab" class="tabcontent active">
{% else %}
<div id="map_tab" class="tabcontent">
{% endif %}
{% if game.game_turn_status.name == "operation_rampage" or game.game_turn_status.name == "operation_rampage_editing_monster" %}
  <table>
  {% for m in game.or_co.monsters() %}
  <tr>
    {% set monster_idx = loop.index - 1 %}
    <td><span class={{"active_monster" if monster_idx == game.rampage_editing_route_monster_idx else "inactive_monster"}}>{{m.name}}</span></td>
    <td>(mvt: {{m.get_move_display()}})</td>
    <td><form action={{ url_for("or_clear_monster_route", game_id=game_id, monster_idx=monster_idx) }}><input type="submit" value="Clear route" name="clear"/></form></td>
    <td><form action={{ url_for("or_edit_monster_route", game_id=game_id, monster_idx=monster_idx) }}><input type="submit" value="Edit route" name="edit"/></form></td>
    {% set route_status = game.or_validate_route(monster_idx) %}
    <td>{{"OK" if route_status[0] else "Invalid"}} {{route_status[1]}}</td>
    <td>Pays {{route_status[2]}}</td>
  </tr>
  {% endfor %}
  {% if game.or_validate_all_routes() %}
  {% set pay_amount = game.or_all_routes_value() %}
  <tr>
    <td>Total payment: </td> <td colspan=5>{{ pay_amount }}</td>
  </tr>
  <tr>
    <td colspan=6> 
      {% if pay_amount > 0 %}
      <form action={{ url_for("or_pay_full", game_id=game_id) }} >
        <input type="submit" value="Pay Dividends" name="submit"/>
      </form>
      {% endif %}
      <form action={{ url_for("or_pay_withhold", game_id=game_id) }} >
        <input type="submit" value="Withhold Dividends" name="submit"/>
      </form>
    </td>
  </tr>
  {% endif %}
  </table>
{% endif %}
<object type="image/svg+xml" data={{url_for("map_image", game_id=game_id, hash=game.get_hash())}}></object>
</div>

<div id="market_tab" class="tabcontent">
{# Hash is to ensure reload #}
<object type="image/svg+xml" data={{url_for("market", game_id=game_id, hash=game.market.get_hash())}}></object>
</div>

{% if game.start_on() == 'monster' %}
<div id="monsters_tab" class="tabcontent active">
{% else %}
<div id="monsters_tab" class="tabcontent">
{% endif %}
  Phase {{ game.phase }}
  {% if game.monster_sales_for_phase[game.phase] %}
    Remaining monsters in phase: {{  game.phase_sales_remaining }}
  {% endif %}
  {% if game.or_co != None %}
    <H2>Current company</H2>
    <div class="company_row">
      {% if game.or_co.monster_count() == 0 %}
        No owned monsters
      {% else %}
        {% for monster in game.or_co.grouped_monsters() %}
          {% include "monster_card.html" %}
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
  {% set in_market = True %}
  {% if game.or_discarded_monsters() %}
    <h2> Market </h2>
      <div class="company_row">
      {% for monster in game.or_discarded_monsters() %}
        {% include "monster_card.html" %}
      {% endfor %}
    </div>
  {% endif %}
  {% set in_market = False %}
  <H2> Available Monsters </H2>
  <div class="company_row">
  {% for monster in game.or_available_monsters() %}
    {% include "monster_card.html" %}
  {% endfor %}
  </div>
  <H2> Future Monsters </H2>
  <div class="company_row">
  {% for monster in game.or_future_monsters() %}
    {% include "monster_card.html" %}
  {% endfor %}
  </div>
</div>

{% if game.start_on() == 'fronts' %}
<div id="company_tab" class="tabcontent active">
{% else %}
<div id="company_tab" class="tabcontent">
{% endif %}
<h2>Fronts</h2>
    <div class="company_row">
      {% for c in game.companies %}
        {% include "front.html" %}
      {% endfor %}
    </div>

    <h2>Players</h2>
    <div class="company_row">
      {% for p in game.players %}
      <div class="company_column"><div class="company_card">
        <table>
          <tr>
            <td><b>{{p.name}}</b></td>
          </tr>
          <tr>
            <td>Cash: {{p.cash}}</td>
          </tr>
        </table>
      </div></div>
      {% endfor %}
    </div>
    <h2>Priority: {{ game.priority.name }}</h2>
    <h2>Bank: {{ game.bank }}</h2>
  </div>

  {% if game.start_on() == 'associate' %}
  <div id="associates_tab" class="tabcontent active">
  {% else %}
  <div id="associates_tab" class="tabcontent">
  {% endif %}
  {% if game.game_turn_status.value == 0 or game.game_turn_status.value == 1 %}
  <H2>Uncommitted cash:</H2>
  <ul>
  {% for p in game.players %}
  <li>{{ p.name }}: {{ game.pa_get_uncommitted_cash(p.id) }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% for p in game.privates %}
    {% include "private_card.html" %}
  {% endfor %}
  </div>
</section>

<script src={{url_for("static", filename="game_view.js")}}></script>