<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link href={{url_for("static", filename="game_view.css")}} rel="stylesheet" type="text/css"/>
<nav>
  <h1>18Dracula Game {{ game_id }} - {{ game.round_name() }} </h1>
  <h2>Current player: {{ game.current_player.name }}</h2>
  <h3>{{ game.important_status() }}</h2>
</nav>

<section class="content">

{% if game.sr_show_pass() %}
<form action={{ url_for("sr_pass", game_id=game_id) }} method='POST'>
  <input type="submit" value="Pass"/>
</form>
{% endif %}
{% if game.sr_show_done() %}
<form action={{ url_for("sr_done", game_id=game_id) }} method='POST'>
  <input type="submit" value="Done"/>
</form>
{% endif %}
{% if game.or_show_pass() %}
<form action={{ url_for("or_pass", game_id=game_id) }} >
  <input type="submit" value="Pass"/>
</form>
{% endif %}

<div class="tabs">
<button class="tablinks" onclick="openTab(event, 'map_tab');">Map</button>
<button class="tablinks" onclick="openTab(event, 'market_tab');")>Market</button>
<button class="tablinks" onclick="openTab(event, 'company_tab');")>Fronts and Players</button>
<button class="tablinks" onclick="openTab(event, 'monsters_tab');")>Monsters</button>
<button class="tablinks" onclick="openTab(event, 'associates_tab');")>Associates</button>
</div>

{% if game.start_on() == 'map' %}
<div id="map_tab" class="tabcontent active">
{% else %}
<div id="map_tab" class="tabcontent">
{% endif %}
{% if game.game_turn_status.name == "operation_rampage" or game.game_turn_status.name == "operation_rampage_editing_monster" %}
  <table>
  {% for m in game.or_co.monsters() %}
  <tr>
    {% set monster_idx = loop.index - 1 %}
    <td><span class={{"active_monster" if monster_idx == game.rampage_editing_route_monster_idx else "inactive_monster"}}>{{m.name}}</span></td>
    <td>(mvt: {{m.get_move_display()}})</td>
    <td><form action={{ url_for("or_clear_monster_route", game_id=game_id, monster_idx=monster_idx) }}><input type="submit" value="Clear route" name="clear"/></form></td>
    <td><form action={{ url_for("or_edit_monster_route", game_id=game_id, monster_idx=monster_idx) }}><input type="submit" value="Edit route" name="edit"/></form></td>
    {% set route_status = game.or_validate_route(monster_idx) %}
    <td>{{"OK" if route_status[0] else "Invalid"}} {{route_status[1]}}</td>
    <td>Pays {{route_status[2]}}</td>
  </tr>
  {% endfor %}
  {% if game.or_validate_all_routes() %}
  {% set pay_amount = game.or_all_routes_value() %}
  <tr>
    <td>Total payment: </td> <td colspan=5>{{ pay_amount }}</td>
  </tr>
  <tr>
    <td colspan=6> 
      {% if pay_amount > 0 %}
      <form action={{ url_for("or_pay_full", game_id=game_id) }} >
        <input type="submit" value="Pay Dividends" name="submit"/>
      </form>
      {% endif %}
      <form action={{ url_for("or_pay_withhold", game_id=game_id) }} >
        <input type="submit" value="Withhold Dividends" name="submit"/>
      </form>
    </td>
  </tr>
  {% endif %}
  </table>
{% endif %}
<object type="image/svg+xml" data={{url_for("map_image", game_id=game_id, hash=game.get_hash())}}></object>
</div>

<div id="market_tab" class="tabcontent">
{# Hash is to ensure reload #}
<object type="image/svg+xml" data={{url_for("market", game_id=game_id, hash=game.market.get_hash())}}></object>
</div>

{% if game.start_on() == 'monster' %}
<div id="monsters_tab" class="tabcontent active">
{% else %}
<div id="monsters_tab" class="tabcontent">
{% endif %}
  Phase {{ game.phase }}
  {% if game.monster_sales_for_phase[game.phase] %}
    Remaining monsters in phase: {{  game.phase_sales_remaining }}
  {% endif %}
  {% if game.or_co != None %}
    <H2>Current company</H2>
    <div class="company_row">
      {% if game.or_co.monster_count() == 0 %}
        No owned monsters
      {% else %}
        {% for monster in game.or_co.grouped_monsters() %}
          {% include "monster_card.html" %}
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
  {% set in_market = True %}
  {% if game.or_discarded_monsters() %}
    <h2> Market </h2>
      <div class="company_row">
      {% for monster in game.or_discarded_monsters() %}
        {% include "monster_card.html" %}
      {% endfor %}
    </div>
  {% endif %}
  {% set in_market = False %}
  <H2> Available Monsters </H2>
  <div class="company_row">
  {% for monster in game.or_available_monsters() %}
    {% include "monster_card.html" %}
  {% endfor %}
  </div>
  <H2> Future Monsters </H2>
  <div class="company_row">
  {% for monster in game.or_future_monsters() %}
    {% include "monster_card.html" %}
  {% endfor %}
  </div>
</div>

{% if game.start_on() == 'fronts' %}
<div id="company_tab" class="tabcontent active">
{% else %}
<div id="company_tab" class="tabcontent">
{% endif %}
<h2>Fronts</h2>
    <div class="company_row">
      {% for c in game.companies %}
      <div class="company_column"><div class="company_card">
        <table>
          <tr>
            <td><img src= {{ game.companies[c].token_img }} width="32px" height = "32px"/></td>
            <td colspan=4>{{ game.companies[c].display_name }}</td>
          </tr>
          <tr>
            <td colspan=5 style="background-color: {{game.companies[c].color}}" ;></td>
          </tr>
          {% if game.companies[c].started %}
          {% if game.companies[c].public %}
          <tr>
            <td></td>
            <td colspan=2>Market price {{ game.companies[c].current_price() }}</td>
            <td colspan=2>IPO price: {{ game.companies[c].ipo }}</td>
            <td></td>
          </tr>
          {% endif %}
          <tr>
            <td> President: </td>
            <td colspan=4> {{ game.companies[c].president.name }} </td>
          </tr>
          <tr>
            <td> Monsters: </td>
            <td colspan=4> {{ game.companies[c].monster_display() }}</td>
          </tr>
          {% if game.companies[c].public %}
            <td> Stock holdings: </td>
            <td colspan=4>
              <ul>
                {% for p in game.companies[c].players_holdings() %}
                  <li> {{p[0].name}}: {{p[1]}} shares </li>
                {% endfor %}
                {% if game.companies[c].shares_in_market > 0 %}
                  <li> {{ game.companies[c].shares_in_market }} shares in market </li>
                {% endif %}
              </ul>
            </td>
          {% endif %}
          </tr>
          {% endif %}
        </table>
          {% if game.sr_show_buy_president(game.companies[c]) %}
          <form action={{ url_for("sr_buy_president", game_id=game_id, company_id=c) }} method='POST'>
            <input type="submit" value="Buy president at"/>
            <select id="president_price" name="president_price">
              {% for ipo in game.market.ipos() %}
              {% if game.current_player.cash >= (ipo * 2) %}
                {% if ipo == game.market.ipos()[0] %}
                <option value={{ipo}} selected>{{ipo}}</option>
                {% else %}
                <option value={{ipo}}>{{ipo}}</option>
                {% endif %}
              {% endif %}
              {% endfor %}
            </select>
          </form>
          {% endif %}
          {% if game.sr_show_buy_ipo(game.companies[c]) %}
            <form action={{ url_for("sr_buy_ipo", game_id=game_id, company_id=c) }} method='POST'>
              <input type="submit" value="Buy IPO Share"/>
            </form>
          {% endif %}
          {% if game.sr_show_buy_market(game.companies[c]) %}
            <form action={{ url_for("sr_buy_market", game_id=game_id, company_id=c) }} method='POST'>
              <input type="submit" value="Buy Market Share"/>
            </form>
          {% endif %}
          {% if game.sr_show_sell(game.companies[c]) %}
            <form action={{ url_for("sr_sell", game_id=game_id, company_id=c) }} method='POST'>
              <input type="submit" value="Sell"/>
              <select id="qty" name="qty">
                {% for qty in game.companies[c].player_can_sell(game.current_player) %}
                {% if loop.index0 == 0  %}
                <option value={{qty}} selected>{{qty}}</option>
                {% else %}
                <option value={{qty}}>{{qty}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </form>
            shares
          {% endif %}
      </div></div>
      {% endfor %}
    </div>

    <h2>Players</h2>
    <div class="company_row">
      {% for p in game.players %}
      <div class="company_column"><div class="company_card">
        <table>
          <tr>
            <td><b>{{p.name}}</b></td>
          </tr>
          <tr>
            <td>Cash: {{p.cash}}</td>
          </tr>
        </table>
      </div></div>
      {% endfor %}
    </div>
    <h2>Priority: {{ game.priority.name }}</h2>
    <h2>Bank: {{ game.bank }}</h2>
  </div>

  {% if game.start_on() == 'associate' %}
  <div id="associates_tab" class="tabcontent active">
  {% else %}
  <div id="associates_tab" class="tabcontent">
  {% endif %}
  {% if game.game_turn_status.value == 0 or game.game_turn_status.value == 1 %}
  <H2>Uncommitted cash:</H2>
  <ul>
  {% for p in game.players %}
  <li>{{ p.name }}: {{ game.pa_get_uncommitted_cash(p.id) }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% for p in game.privates %}
    <div class="company_column"><div class="company_card private_card">
      <table>
        <tr>
          <td colspan=2><b>{{p.name}}</b></td>
        </tr>
        <tr>
          <td>Base cost: {{p.base_cost}}</td>
          <td>{% if p.revenue > 0 %}Revenue: {{p.revenue}} {% endif %}</td>
        </tr>
        <tr>
          <td colspan=2 class="description">{{p.description}}</td>
        </tr>
      </table>
      {% if p.owner is not none %}
        Owned by {{p.owner.name}}
      {% else %}
      <ul>
        {% for b in p.bids %}
        <li>{{b[0].name}} bid {{b[1]}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if game.pa_can_buy(p) %}
      <form action={{ url_for("pa_buy", game_id=game_id) }}><input type="submit" value="Buy"/></form>
      {% endif %}
      {% if game.pa_can_pass(p) %}
      <form action={{ url_for("pa_pass", game_id=game_id) }}><input type="submit" value="Pass"/></form>
      {% endif %}
      {% if game.pa_can_bid(p) %}
      <form action={{ url_for("pa_bid", game_id=game_id, private_id=p.id) }} method='POST'><input type="submit" value="Bid"/><input type="text" name="bid_amt" value={{ p.next_min_bid_amount(game) }} /></form>
      {% endif %}
    </div></div>
  {% endfor %}
  </div>
</section>

<script src={{url_for("static", filename="game_view.js")}}></script>